* {
    box-sizing: border-box;

}
body {
    position: relative;
    width: 1270px;
    height: 1000px;
}

body {
    background-image: url(https://w0.peakpx.com/wallpaper/127/366/HD-wallpaper-books-on-bookshelf.jpg);
   }

h1 {
    color: whitesmoke;
    position: relative;
    width: 885px;
    height: 50px;
    left: 255px;
    top: 10px;
    font-family: 'Katibeh';
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 90px;
    text-align: center;
}

#quote  {
    position: relative;
    top: 15px;
    width: 885px;
    left: 320px;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;

}

.form-container {
    position: relative;
    width: 885px;
    text-align: center;
    top: 40px;
    left: 250px;
    font-family: Helvetica;
    border-color: #0c5b21;
}

input::placeholder {
    color: #c3bebe;
}
#search-btn {
    background-color:#459440;
    color: #FFFF;
    
}

#clear-btn {
    background-color: #863939;
    color: #FFFF;
}

h2 {
    color: #FFFF;
    max-width: 210px;
    font-size: 25px;
}

.heading-container {
    white-space: normal;

}

 p {
    color: #FFFF;
    font-size: 17px;
    font-weight: 510;
    
}

.categories {
    color: #FFFF;
    
}

.results-container ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px; 
    width: 115%;
  }

  .results-container ul li {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  img {
    max-width: 160px;
    max-height: 260px;
    object-fit: cover;
  }
  


